div {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  display: grid;
  grid-template-columns: 5fr 5fr;
  width: 100px;
  height: 300px;
}

.image {
  width: 30%;
  height: 100%
float: left;
}

.header {
  text-align: center;
  font-style: italic;
}
